body {
    margin: 0px auto;
}
.wrapper {
    display: flex;
    float: left;
    margin-left: 10vw;
    min-height: 10vh;
    width: 80vw;
    margin-top: 1vw;
}
.column {
    display:block;
    margin: 1vw;
    width: 25vw;
}
img {
    width: 100%;
    margin-bottom: 2vw;
}